body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.navbar-brand {
  margin-bottom: 0;
  padding-bottom: 0;
}

.logo {
  width: 85px;
}

.pokemon-list {
  text-align: center;
  width: 250px;
  margin: auto;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  padding: 12px 14px;
  overflow: auto;
  height: 500px;
}

 .pokemon-list .btn {
  width: 100%;
}

.svg-class {
  text-align: center;
  margin-top: 10px;
}

.pkmn-img {
  max-width: 150px;
  max-height: 300px;
  display: block;
  margin: auto;
}

.modal h2 {
  margin-top: 20px;
  text-transform: uppercase;
}


.modal-footer {
  display: inline-block;
}

.modal-footer p {
  text-align: center;
}

/* media query */

@media all and (max-width: 450px) {
  .modal h4 {
    font-size: 22px;
  }

  .pokemon-list {
    width: 90%;
  }

  .modal {
    width: 80%;
  }
}
